/** AUTH LOGIN  */

.brandAuth {
    display: block;
    height: 5rem !important;
    width: 10rem;
}
.authLoding {
    width: 100%;
    height: 100%;
    position: absolute;
    aspect-ratio: unset;
    z-index: 1;
}

.cardLogin {
    z-index: 5;
}

.footer a {
    color: white !important;
}

.welcome {
    position: relative;
    z-index: 5;
}

.inputs {
    all: unset;
    display: block;
    width: 89%;
}

/** CLIENTES */

.routeLink {
    display: flex;
    align-items: center;
}

.routeLink li {
    list-style: none;
}

.routeLink li a {
    cursor: pointer;
}

.content {
    margin-top: 6rem;
}

.navbarContainer {
    margin-top: -5.5rem;
}

.clientsHeader,
.clientsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientsSection div {
    flex-basis: 22rem;
    display: flex;
}

.clientsSection div button {
    flex-basis: 11rem;
}

.btCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20rem;
    background-color: #def1fd;
}

.btCreate:hover {
    background-color: none;
    background-color: #def1fd;
}

.btCreate:active {
    background-color: #d2e3ee;
}

.clientsH2 {
    margin: 2rem 0;
}
.tableSpacing {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/*? filter input  */

.inputFilters {
    display: flex;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.inputFilters form {
    width: 100%;
    flex-basis: 32%;
    flex-grow: 1;
}

.inputContainer {
    display: block;
    width: 100% !important;
    align-items: center;
}

.inputFilters form button {
    all: unset;
    cursor: pointer;
}

.inputSearch {
    border: 1px solid rgb(186, 185, 185);
    border-radius: 5px;
    height: 3rem;
    max-width: 100%;
    padding-left: 0.9rem;
}

.input {
    all: unset;
    width: 88%;
    height: 100%;
}
.input:focus {
    all: unset;
    width: 88%;
    height: 100%;
}

/*? table */

.actions {
    display: flex;
    justify-content: space-between;
    column-gap: 0.7rem;
    align-items: center;
}

.actions div {
    display: flex;
    column-gap: 0.7rem;
}

.actions div a {
    cursor: pointer;
}

.btnReserva {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2.2rem;
    border-radius: 5px;
    background-color: transparent;
    color: black !important;
    border: 1px solid rgb(186, 185, 185);
    cursor: pointer;
}

.btnEdit {
    color: #e4701e;
}
.btnEdit:hover {
    color: #e4701e;
}

.btnReserva:active,
.btnReserva:hover {
    background-color: #e4701e;
    color: white;
    border: 1px solid white;
}

.btnReserva:hover {
    color: white;
}

.btnDelete {
    color: #c3102f;
}

.btnDelete:hover {
    color: #a40e27 !important;
}

.cardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.columnDirection {
    flex-direction: column !important;
}

.cardList {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.cardList li {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}

.cardButton {
    width: 100%;
}

.btnCheckedContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    column-gap: 0.5rem;
}
.btnChecked {
    display: block;
    height: 2rem;
    width: 2rem !important;
    border: 1px solid rgb(212, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnChecked:hover {
    border: 1px solid rgb(212, 211, 211);
}

/** Reservas */
.inputFileGroup {
    border: 1px dashed;
    position: relative;
}

.inputFileGroup p {
    position: absolute;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.inputFile {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.selectInput {
    width: 75%;
    text-align-last: left;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    line-height: normal;
    display: block;
    margin: auto;
    border: none;
    color: grey;
}

.selected {
    background-color: #098598;
    color: white;
}

/* CALENDARIO */

.calendarCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservationsCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reservationItem:hover {
    background-color: #f9f9f9;
}

.reservationItem div {
    margin-right: 10px;
}

.reservationItem button {
    margin-left: auto;
}

.calendarHeader {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.react-calendar {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

/** Mesas */
.mesa {
    width: 18rem;
    height: 18rem;
    border-radius: 90rem;
    background-color: #009290;
    border: 1px solid white;
    box-shadow: 0px 0px 15px rgb(169, 169, 169);
    color: white;
}

.mesaTitle {
    width: 11rem;
    height: 5.5rem;
    margin: 0 auto;
    border-radius: 90rem 90rem 0 0 !important;
    background-color: transparent;
    color: white !important;
    border-bottom: 1px solid white;
}

.mesaTitle h4 {
    color: white !important;
}

.cardButtonMesa {
    display: block;
    width: 10rem;
    margin: 0 auto;
    border-radius: 45rem;
    background-color: #def1fd;
    border: white;
    color: black;
}

.cardButtonMesa:hover {
    background-color: #def1fd;
    color: black;
}

.mesa.mesa__noDisponible {
    background-color: #c3102f;
}
