/** AUTH LOGIN  */

.brandAuth {
    display: block;
    height: 5rem !important;
    width: 10rem;
}
.authLoding {
    width: 100%;
    height: 100%;
    position: absolute;
    aspect-ratio: unset;
    z-index: 1;
}

.cardLogin {
    z-index: 5;
}

.footer a {
    color: white !important;
}

.welcome {
    position: relative;
    z-index: 5;
}

.inputs {
    all: unset;
    display: block;
    width: 89%;
}

/** CLIENTES */

.routeLink {
    display: flex;
    align-items: center;
}

.routeLink li {
    list-style: none;
}

.routeLink li a {
    cursor: pointer;
}

.content {
    margin-top: 6rem;
}

.navbarContainer {
    margin-top: -5.5rem;
}

.clientsHeader,
.clientsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientsSection div {
    flex-basis: 22rem;
    display: flex;
}

.clientsSection div button {
    flex-basis: 11rem;
}

.btCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20rem;
    background-color: #def1fd;
}

.btCreate:hover {
    background-color: none;
    background-color: #def1fd;
}

.btCreate:active {
    background-color: #d2e3ee;
}

.clientsH2 {
    margin: 2rem 0;
}
.tableSpacing {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/*? filter input  */

.inputFilters {
    display: flex;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.inputFilters form {
    width: 100%;
    flex-basis: 32%;
    flex-grow: 1;
}

.inputContainer {
    display: block;
    width: 100% !important;
}

.inputFilters form button {
    all: unset;
    cursor: pointer;
}

.inputSearch {
    border: 1px solid rgb(186, 185, 185);
    border-radius: 5px;
    height: 3rem;
    max-width: 100%;
    padding-left: 0.9rem;
}

.input {
    all: unset;
    width: 88%;
    height: 100%;
}
.input:focus {
    all: unset;
    width: 88%;
    height: 100%;
}

/*? table */

.actions {
    display: flex;
    justify-content: space-between;
    column-gap: 0.7rem;
    align-items: center;
}

.actions div {
    display: flex;
    column-gap: 0.7rem;
}

.actions div a {
    cursor: pointer;
}

.btnReserva {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2.2rem;
    border-radius: 5px;
    background-color: transparent;
    color: black !important;
    border: 1px solid rgb(186, 185, 185);
    cursor: pointer;
}

.btnEdit {
    color: #e4701e;
}
.btnEdit:hover {
    color: #e4701e;
}

.btnReserva:active,
.btnReserva:hover {
    background-color: #e4701e;
    color: white;
    border: 1px solid white;
}

.btnReserva:hover {
    color: white;
}

.btnDelete {
    color: #c3102f;
}

.btnDelete:hover {
    color: #a40e27 !important;
}

.cardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.cardList li {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}

.cardButton {
    width: 100%;
}
